{{page-title "Customer"}}

<br><br><br>



<div style="text-align: center;">

    <div class="row field">
        <div class="col-sm" style="text-align: right;">
            <label>UserName</label>
        </div>
        <div class="col-sm" style="text-align: left;">
            {{input value=this.userName }}
        </div>
    </div>

    <div class="row field">
        <div class="col-sm" style="text-align: right;">
            <label>Password</label>
        </div>
        <div class="col-sm" style="text-align: left;">
            {{input value=this.password type="password"}}
        </div>

    </div>

    <div class="row field">
        <div class="col-sm" style="text-align: right;">

        </div>
        <div class="col-sm" style="text-align: left;">
            <button {{on "click" this.customerOn}}>Login</button>
        </div>

    </div>

    <br>

    <div class="row field">
        <div class="col-sm" style="text-align: right;">

        </div>
        <div class="col-sm" style="text-align: left;">
            No account? <a href="/signup">
                Create one!
            </a>
        </div>

    </div>

</div>

{{outlet}}


<br>
<br>

{{#if this.model}}
<div class="col-12 col-md-8 col-lg-4 mx-auto my-4">

    <table align="center">
        <tr>
            <td>
                <h2>Customer List</h2>
            </td>
        </tr>

        {{#each this.model as |item|}}
        <tr>
            <td>Username</td>
            <td>:</td>
            <td>{{item.username}}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>:</td>
            <td>{{item.pwd}}</td>
        </tr>
        <tr>
            <td>
                <hr>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{else}}

<h2>.Empty.</h2>

{{/if}}